@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.homepage {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .main {
    margin-left: $sidebar-width;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .content {
      flex-grow: 1;
      padding: $header-height $spacing-lg $spacing-lg;
      overflow-y: auto;
      background-color: $site-background;
      min-height: 100vh;
    }
  }
}
