.sidebar {
    height: 100vh;
    overflow-x: hidden;
    padding: 0px 16px 0px 16px;
    box-shadow: 0 1px 9px 1px #00000036;
    border-right: 1px solid #52414169;
    background: linear-gradient(-30deg,#295bb5,#0d3868) !important;
    background: linear-gradient(#0997e0 ,#2059a7) !important;
    color: #f0f3f7;
}

.fullSidebar {
    width: 15vw;
}

.collapsed-sidebar {
    width: 8vw;
}

.sidebar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-inline-start: 0px;
    text-align: center;
}

.sidebar a, a:visited, a:hover{
    font-size: 13px!important;
    display: flex;
    font-family: 'Roboto', sans-serif;
    padding: 0px 0px 6px 0px;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.7;
    word-break: break-word;
    color: #f0f3f7;
}

.sidebar-menu-items ul{
    list-style: none;
    display: block;
}

.show-element {
    display: block;
}

.hide-element {
    /* display: none; */
    opacity: 0;
}