.Header {
    /* font-family: sans-serif; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Header nav{
    background: #222;
    padding: 0px 20px;
}

.HeaderLine {
    border-bottom: 2px solid red;
}

.Header ul {
    list-style-type: none;
    padding: 0px;
}

.Header a {
    color: white;
    text-decoration: none;
}

.Header a:hover {
    text-decoration: underline;
}

.Menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.Button {
    order: 1;
}

@media all and (min-width: 468px) {
    .Menu {
        justify-content: center;
    }
    .Logo {
        order: 1;
    }
    .Button {
        order: 3;
    }
}

@media all and (min-width: 768px) {

}