.WeeklyTable {
    display: flex;
    border: 1px solid black;
}

.WeeklyTableAccounts {
    width: 20vw;
    border-right: 1px solid black;
    font-weight: bolder;
}

.WeeklyTableAccounts div {
    padding-bottom: 10px;
    padding-left: 10px;
}

.WeeklyTableData {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.WeeklyTableHeader {
    font-weight: bolder;
}

.WeeklyTableData div {
    border-right: 1px solid black;
    width: 8vw;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}