.SearchProperty {
    padding: 10px 10px;
    box-sizing: border-box;
}

.SearchProperty h2, p{
    text-align: left;
    font-size: medium;
}

.SearchProperty ul {
    list-style: none;
    padding-left: 0px;
}

.SearchProperty input{
    height: 40px;
    width: 100%;
    display: flex;
    border-color: orange;
    border-width: 3px;
}

.SearchProperty button{
    height: 40px;
    width: 100%;
    background-color:dodgerblue;
    color: white;
    font-size: medium;
}

.SPFooter {
    padding: 10px 10px;
    width: 100%;
}

.SPFooter ul{
    list-style: none;
    text-align: left;
}

.SPFooter li{
    display: inline;
    padding-left: 10px;
    font-size: 16px;
}

@media all and (min-width: 468px) {
    .SearchProperty {
        width: 100%;
    }

    .WhereInput input{
        width: 300px;
    }

    .DateInput input {
        width: 150px;
    }

    .RoomInput input {
        width: 150px;
    }

    .SearchProperty button{
        width: 120px;
    }

    .SearchProperty li{
        display: inline-block;
    }
}