@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header-container {
  height: $header-height;
  background-color: $white;
  padding: 0 $spacing-xl;
  gap: $spacing-md;
  position: fixed;
  top: 0;
  left: $sidebar-width;
  right: 0;
  z-index: $z-index-header;

  @include flexEnd;
  @include boxShadowMedium;

  .divider {
    width: 1px;
    height: 40px;
    background-color: $divider-color;
  }

  .left-info {
    display: flex;
    align-items: flex-start;
    gap: $spacing-xs;

    .count {
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
      color: $primary;
      line-height: 1.1;
      display: flex;
      align-items: center;
      height: 100%;
    }

    .label {
      font-size: $font-size-xs;
      line-height: 1.2;
    }
  }

  .center-info {
    display: flex;
    flex-direction: column;
    font-size: $font-size-sm;

    .login-time {
      color: $primary;
      font-weight: 600;
      margin-top: 2px;
    }
  }

  .right-info {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }

  .avatar-wrapper {
    display: flex;
    align-items: center;
    gap: $spacing-xs;

    img {
      width: $avatar-size;
      height: $avatar-size;
      object-fit: cover;

      &:last-child {
        margin-left: 3px;
        width: $badge-size;
        height: $badge-size;
      }
    }
  }
}
